#project-logo {
    background: transparent;
    height: 105px;
    width: 105px;
}
#navbarNav {
    display: flex;
    justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Abel', sans-serif;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
.design {
    background-color: #E6563B;
}
.develop {
    background-color: #EB9D3A;
}
.support {
    background-color: #7CB06C;
}
.host {
    background-color: #00ABA9;
}
body {
    background-color: #f0f0f0;
}
.badge {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    border-radius: 60%;
}
.button {
    border: white 4px solid;
    border-radius: 50%;
    /*margin: 0 auto;*/
    padding: 0;
    height: 105px;
    width:105px
}
.button:hover {
    border: lightgrey 4px solid;
    border-radius: 50%;
}
.main-button {
    color:white;
}
.main-button:hover {
    color:lightgrey;
    text-decoration: none;
}
.btn {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: solid white .35em;
    font-family: 'Anton', sans-serif;
    font-size: 1.1em;
    margin: auto;
}
.card-img-top {
    border:#e6e6e6 solid 8px;
    border-radius: 5px;
}
.card {
    border: none;
    background-color: #f0f0f0;
}
.fa-twitter {
    color: #00AACE;
}
.tweet {
    font-size: .75em;
}
.card-title {
    font-size: 1.5em;
}
.card-body {
    padding-bottom: 0;
    padding-top: 0;
}